/* line 13, ../sass/game.sass */
#game {
  width: 990px;
  height: 550px;
  text-align: left;
  position: relatives;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0s, 0.1s;
  -moz-transition-delay: 0s, 0.1s;
  -o-transition-delay: 0s, 0.1s;
  transition-delay: 0s, 0.1s;
}
/* line 28, ../sass/game.sass */
#game.hidden {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -moz-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  -o-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

/* line 39, ../sass/game.sass */
.cell {
  display: inline-block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding-top: 14px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 100;
  width: 50px;
  height: 50px;
  margin: 2.5px;
  background-color: #383d4b;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0);
  -webkit-transition-property: top, left, background-color, box-shadow, -webkit-transform;
  -moz-transition-property: top, left, background-color, box-shadow, -moz-transform;
  -o-transition-property: top, left, background-color, box-shadow, -o-transform;
  transition-property: top, left, background-color, box-shadow, transform;
  -webkit-transition-duration: 0.5s, 0.5s, 0.05s, 0.3s, 0.05s;
  -moz-transition-duration: 0.5s, 0.5s, 0.05s, 0.3s, 0.05s;
  -o-transition-duration: 0.5s, 0.5s, 0.05s, 0.3s, 0.05s;
  transition-duration: 0.5s, 0.5s, 0.05s, 0.3s, 0.05s;
}
/* line 62, ../sass/game.sass */
.cell:hover {
  background-color: #43485a;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 0px 30px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
/* line 67, ../sass/game.sass */
.cell.correct {
  background-color: #00e9a6;
  color: #22252e;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(0, 233, 166, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  cursor: default !important;
  z-index: 1000;
}
/* line 76, ../sass/game.sass */
.cell.selected {
  box-shadow: 0px 0px 0px 2px white, 0px 1px 2px 2px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(255, 255, 255, 0.1);
}

/* line 82, ../sass/game.sass */
.p1x1 {
  top: 0px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x2 {
  top: 55px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x3 {
  top: 110px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x4 {
  top: 165px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x5 {
  top: 220px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x6 {
  top: 275px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x7 {
  top: 330px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x8 {
  top: 385px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x9 {
  top: 440px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p1x10 {
  top: 495px;
  left: 0px;
}

/* line 82, ../sass/game.sass */
.p2x1 {
  top: 0px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x2 {
  top: 55px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x3 {
  top: 110px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x4 {
  top: 165px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x5 {
  top: 220px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x6 {
  top: 275px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x7 {
  top: 330px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x8 {
  top: 385px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x9 {
  top: 440px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p2x10 {
  top: 495px;
  left: 55px;
}

/* line 82, ../sass/game.sass */
.p3x1 {
  top: 0px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x2 {
  top: 55px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x3 {
  top: 110px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x4 {
  top: 165px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x5 {
  top: 220px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x6 {
  top: 275px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x7 {
  top: 330px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x8 {
  top: 385px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x9 {
  top: 440px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p3x10 {
  top: 495px;
  left: 110px;
}

/* line 82, ../sass/game.sass */
.p4x1 {
  top: 0px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x2 {
  top: 55px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x3 {
  top: 110px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x4 {
  top: 165px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x5 {
  top: 220px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x6 {
  top: 275px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x7 {
  top: 330px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x8 {
  top: 385px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x9 {
  top: 440px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p4x10 {
  top: 495px;
  left: 165px;
}

/* line 82, ../sass/game.sass */
.p5x1 {
  top: 0px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x2 {
  top: 55px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x3 {
  top: 110px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x4 {
  top: 165px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x5 {
  top: 220px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x6 {
  top: 275px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x7 {
  top: 330px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x8 {
  top: 385px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x9 {
  top: 440px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p5x10 {
  top: 495px;
  left: 220px;
}

/* line 82, ../sass/game.sass */
.p6x1 {
  top: 0px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x2 {
  top: 55px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x3 {
  top: 110px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x4 {
  top: 165px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x5 {
  top: 220px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x6 {
  top: 275px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x7 {
  top: 330px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x8 {
  top: 385px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x9 {
  top: 440px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p6x10 {
  top: 495px;
  left: 275px;
}

/* line 82, ../sass/game.sass */
.p7x1 {
  top: 0px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x2 {
  top: 55px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x3 {
  top: 110px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x4 {
  top: 165px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x5 {
  top: 220px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x6 {
  top: 275px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x7 {
  top: 330px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x8 {
  top: 385px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x9 {
  top: 440px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p7x10 {
  top: 495px;
  left: 330px;
}

/* line 82, ../sass/game.sass */
.p8x1 {
  top: 0px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x2 {
  top: 55px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x3 {
  top: 110px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x4 {
  top: 165px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x5 {
  top: 220px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x6 {
  top: 275px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x7 {
  top: 330px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x8 {
  top: 385px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x9 {
  top: 440px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p8x10 {
  top: 495px;
  left: 385px;
}

/* line 82, ../sass/game.sass */
.p9x1 {
  top: 0px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x2 {
  top: 55px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x3 {
  top: 110px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x4 {
  top: 165px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x5 {
  top: 220px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x6 {
  top: 275px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x7 {
  top: 330px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x8 {
  top: 385px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x9 {
  top: 440px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p9x10 {
  top: 495px;
  left: 440px;
}

/* line 82, ../sass/game.sass */
.p10x1 {
  top: 0px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x2 {
  top: 55px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x3 {
  top: 110px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x4 {
  top: 165px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x5 {
  top: 220px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x6 {
  top: 275px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x7 {
  top: 330px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x8 {
  top: 385px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x9 {
  top: 440px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p10x10 {
  top: 495px;
  left: 495px;
}

/* line 82, ../sass/game.sass */
.p11x1 {
  top: 0px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x2 {
  top: 55px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x3 {
  top: 110px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x4 {
  top: 165px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x5 {
  top: 220px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x6 {
  top: 275px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x7 {
  top: 330px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x8 {
  top: 385px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x9 {
  top: 440px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p11x10 {
  top: 495px;
  left: 550px;
}

/* line 82, ../sass/game.sass */
.p12x1 {
  top: 0px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x2 {
  top: 55px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x3 {
  top: 110px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x4 {
  top: 165px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x5 {
  top: 220px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x6 {
  top: 275px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x7 {
  top: 330px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x8 {
  top: 385px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x9 {
  top: 440px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p12x10 {
  top: 495px;
  left: 605px;
}

/* line 82, ../sass/game.sass */
.p13x1 {
  top: 0px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x2 {
  top: 55px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x3 {
  top: 110px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x4 {
  top: 165px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x5 {
  top: 220px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x6 {
  top: 275px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x7 {
  top: 330px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x8 {
  top: 385px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x9 {
  top: 440px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p13x10 {
  top: 495px;
  left: 660px;
}

/* line 82, ../sass/game.sass */
.p14x1 {
  top: 0px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x2 {
  top: 55px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x3 {
  top: 110px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x4 {
  top: 165px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x5 {
  top: 220px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x6 {
  top: 275px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x7 {
  top: 330px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x8 {
  top: 385px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x9 {
  top: 440px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p14x10 {
  top: 495px;
  left: 715px;
}

/* line 82, ../sass/game.sass */
.p15x1 {
  top: 0px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x2 {
  top: 55px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x3 {
  top: 110px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x4 {
  top: 165px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x5 {
  top: 220px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x6 {
  top: 275px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x7 {
  top: 330px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x8 {
  top: 385px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x9 {
  top: 440px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p15x10 {
  top: 495px;
  left: 770px;
}

/* line 82, ../sass/game.sass */
.p16x1 {
  top: 0px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x2 {
  top: 55px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x3 {
  top: 110px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x4 {
  top: 165px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x5 {
  top: 220px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x6 {
  top: 275px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x7 {
  top: 330px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x8 {
  top: 385px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x9 {
  top: 440px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p16x10 {
  top: 495px;
  left: 825px;
}

/* line 82, ../sass/game.sass */
.p17x1 {
  top: 0px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x2 {
  top: 55px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x3 {
  top: 110px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x4 {
  top: 165px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x5 {
  top: 220px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x6 {
  top: 275px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x7 {
  top: 330px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x8 {
  top: 385px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x9 {
  top: 440px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p17x10 {
  top: 495px;
  left: 880px;
}

/* line 82, ../sass/game.sass */
.p18x1 {
  top: 0px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x2 {
  top: 55px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x3 {
  top: 110px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x4 {
  top: 165px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x5 {
  top: 220px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x6 {
  top: 275px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x7 {
  top: 330px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x8 {
  top: 385px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x9 {
  top: 440px;
  left: 935px;
}

/* line 82, ../sass/game.sass */
.p18x10 {
  top: 495px;
  left: 935px;
}
